@font-face {
  font-family: 'iconfont'; /* Project id 2714604 */
  src: url('//at.alicdn.com/t/font_2714604_9lb2x9lgh3j.woff2?t=1627849023317')
      format('woff2'),
    url('//at.alicdn.com/t/font_2714604_9lb2x9lgh3j.woff?t=1627849023317')
      format('woff'),
    url('//at.alicdn.com/t/font_2714604_9lb2x9lgh3j.ttf?t=1627849023317')
      format('truetype');
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type='range'] {
  height: 0;
}

button {
  background-color: #f4f4f4;
  outline: none;
}

button:active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

:root {
  --red: rgba(255, 95, 89, 0.8);
  --green: rgb(46, 204, 64, 0.8);
  --blue: #007bfc;
}
*,
::after,
::before {
  box-sizing: inherit;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

html {
  background-color: rgb(246, 246, 246);
  color: rgba(10, 10, 10, 0.95);
  font-size: 16px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  margin: 0;
  border: 0;
  color: rgba(10, 10, 10, 0.95);
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.box {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
